<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlitzRead</title>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">



</head>
<body>

    <div id="content"></div>

    <script src="/js/main.js" type="module"></script>

    <script>
        // document.addEventListener('DOMContentLoaded', () => {
        //     const content = document.getElementById('content');
        //     const resp = fetch('/api/post/mm');
        //     resp.then(res => res.json()).then(data => {
        //         content.innerHTML = marked.parse(data.markdown);
        //     })
        // })
    </script>
</body>
</html>